<div class="flex flex-col gap-2">
    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Maintenance Mode</div>

        <div class="flex flex-col gap-1">
            <div class="text-muted-foreground">Temporarily disable public access to the website while performing updates or maintenance.</div>
            <div class="text-muted-foreground">Maintenance status: <% if(response.admin.settings.maintenance.status) { %><span class="text-danger">Active - Reason: <%= response.admin.settings.maintenance.reason %></span><% } else { %><span class="text-success">Inactive</span><% } %></div>
        </div>

        <div class="flex flex-row responsive gap-2 w-full">
            <%- include('../components/dropdownField.ejs', {
                type: 'bottom',
                placeholder: 'Status',
                id: 'admin_maintenance_status',
                selected: response.admin.settings.maintenance.status ? 1 : 0,
                items: [
                    { name: 'Enable', value: 1 },
                    { name: 'Disable', value: 0 }
                ]
            }); %>

            <%- include('../components/inputField.ejs', {
                type: 'text',
                placeholder: 'Reason',
                id: 'admin_maintenance_reason',
                errors: [ 'required' ],
                features: [
                    '<button class="button button-primary shadow-2" id="admin_maintenance_set">Set</button>'
                ]
            }); %>
        </div>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Game Modes</div>

        <div class="text-muted-foreground">Toggle to enable or disable all game modes on the website. Enable or disable this specific game mode.</div>

        <div class="flex flex-row items-center gap-2">
            <%- include('../components/dropdownField.ejs', {
                type: 'bottom',
                placeholder: 'Status',
                classes: [ 'admin_control_settings' ],
                attributes: [
                    { name: 'data-settings', value: 'games_status' }
                ],
                selected: response.admin.settings.games.status ? 1 : 0,
                items: [
                    { name: 'Enable', value: 1 },
                    { name: 'Disable', value: 0 }
                ]
            }); %>

            <button class="button button-primary shadow-2 admin_dropdown_settings" data-settings="games_status">Set</button>
        </div>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Payments</div>

        <div class="text-muted-foreground">Enable or disable all deposit and withdrawal functionality for users.</div>

        <div class="flex flex-row items-center gap-2">
            <%- include('../components/dropdownField.ejs', {
                type: 'bottom',
                placeholder: 'Status',
                classes: [ 'admin_control_settings' ],
                attributes: [
                    { name: 'data-settings', value: 'payments_status' }
                ],
                selected: response.admin.settings.payments.status ? 1 : 0,
                items: [
                    { name: 'Enable', value: 1 },
                    { name: 'Disable', value: 0 }
                ]
            }); %>

            <button class="button button-primary shadow-2 admin_dropdown_settings" data-settings="payments_status">Set</button>
        </div>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Admin Access</div>

        <div class="text-muted-foreground">Grant or revoke administrative privileges for users on the website.</div>
        <div class="text-muted-foreground">List of users with admin rights: <span class="text-success"><%= response.admin.settings.allowed.admin.join(', ') %></span></div>

        <%- include('../components/inputField.ejs', {
            type: 'text',
            placeholder: 'User Id',
            id: 'admin_admin_access_userid',
            errors: [ 'required' ],
            features: [
                '<button class="button button-primary shadow-2" id="admin_admin_access_set">Set</button>',
                '<button class="button button-primary shadow-2" id="admin_admin_access_unset">Unset</button>'
            ]
        }); %>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Deposit Bonus Codes</div>

        <div class="text-muted-foreground">Generate a code that users can redeem for a bonus when making a deposit.</div>

        <div class="flex flex-col w-full">
            <div class="flex flex-row responsive gap-2 w-full">
                <%- include('../components/inputField.ejs', {
                    type: 'text',
                    placeholder: 'Referral',
                    id: 'admin_deposit_bonuses_referral',
                    errors: [ 'required' ]
                }); %>

                <%- include('../components/inputField.ejs', {
                    type: 'text',
                    placeholder: 'Code',
                    id: 'admin_deposit_bonuses_code',
                    errors: [ 'required' ],
                    features: [
                        '<button class="button button-primary shadow-2" id="admin_deposit_bonuses_create">Create</button>'
                    ]
                }); %>
            </div>

            <div class="flex flex-col gap-2">
                <%- include('../components/inputField.ejs', {
                    type: 'text',
                    placeholder: 'Search Deposit Bonus',
                    id: 'admin_deposit_bonuses_search'
                }); %>

                <div class="table-container">
                    <div class="table-header">
                        <div class="table-row">
                            <div class="table-column text-left">Code</div>
                            <div class="table-column text-left">Referral</div>
                            <div class="table-column text-left">Uses</div>
                            <div class="table-column text-left">Amount</div>
                            <div class="table-column text-right">Action</div>
                        </div>
                    </div>

                    <div class="table-body" id="admin_deposit_bonuses">
                        <% if(response.admin.settings.deposit_bonuses.list.length > 0){ %>
                            <% response.admin.settings.deposit_bonuses.list.forEach(function(item){ %>
                                <div class="table-row">
                                    <div class="table-column text-left pointer" data-copy="text" data-text="<%= item.code %>"><%= item.code %></div>
                                    <div class="table-column text-left pointer" data-copy="text" data-text="<%= item.referral %>"><%= item.referral %></div>
                                    <div class="table-column text-left"><%= item.uses %></div>
                                    <div class="table-column text-left"><%= item.amount %></div>

                                    <div class="table-column full text-right">
                                        <button class="button button-primary shadow-2 admin_deposit_bonuses_remove" data-id="<%= item.id %>">Remove</button>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <%- include('../components/emptyTable.ejs', {
                                title: 'No data found'
                            }); %>
                        <% } %>
                    </div>

                    <div class="table-footer">
                        <div class="flex items-center justify-center bg-secondary p-2">
                            <%- include('../components/pageNavigator.ejs', {
                                id: 'pagination_admin_deposit_bonuses',
                                page: response.admin.settings.deposit_bonuses.page,
                                pages: response.admin.settings.deposit_bonuses.pages
                            }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Push Notifications (will be implemented)</div>

        <div class="text-muted-foreground">Manage and send push notifications to users to alert them about updates, promotions, or important messages.</div>

        <%- include('../components/inputField.ejs', {
            type: 'text',
            placeholder: 'Notification',
            id: 'admin_notification_message',
            errors: [ 'required' ],
            features: [
                '<button class="button button-primary shadow-2" id="admin_notify_push">Push</button>'
            ]
        }); %>
    </div>

    <div class="flex flex-col gap-2 bg-card bg-opacity-50 rounded-2 border-2 border-card p-2 w-full">
        <div class="text-left font-bold text-base">Tracking Links</div>

        <div class="text-muted-foreground">Create and manage internal tracking links to monitor performance of promotional efforts.</div>

        <div class="flex flex-col w-full">
            <div class="flex flex-row responsive gap-2 w-full">
                <%- include('../components/dropdownField.ejs', {
                    type: 'bottom',
                    placeholder: 'Expire',
                    id: 'admin_tracking_links_expire',
                    items: [
                        { name: 'Never', value: 'permanent' },
                        { name: 'One day', value: '1days' },
                        { name: 'One week', value: '7days' },
                        { name: 'One month', value: '1months' }
                    ]
                }); %>

                <%- include('../components/inputField.ejs', {
                    type: 'text',
                    placeholder: 'Usage',
                    id: 'admin_tracking_links_usage',
                    errors: [ 'required' ],
                    features: [
                        '<button class="button button-primary shadow-2" id="admin_tracking_links_create">Create</button>'
                    ]
                }); %>
            </div>

            <div class="flex flex-col gap-2">
                <%- include('../components/inputField.ejs', {
                    type: 'text',
                    placeholder: 'Search Tracking Link',
                    id: 'admin_tracking_links_search'
                }); %>

                <div class="table-container">
                    <div class="table-header">
                        <div class="table-row">
                            <div class="table-column text-left">Raferral</div>
                            <div class="table-column text-left">User Id</div>
                            <div class="table-column text-left">Usage</div>
                            <div class="table-column text-right">Action</div>
                        </div>
                    </div>

                    <div class="table-body" id="admin_tracking_links">
                        <% if(response.admin.settings.tracking_links.list.length > 0){ %>
                            <% response.admin.settings.tracking_links.list.forEach(function(item){ %>
                                <div class="table-row">
                                    <div class="table-column text-left pointer" data-copy="text" data-text="<%= item.referral %>"><%= item.referral %></div>
                                    <div class="table-column text-left pointer" data-copy="text" data-text="<%= item.userid %>"><%= item.userid %></div>
                                    <div class="table-column text-left"><%= item.usage %></div>

                                    <div class="table-column full text-right">
                                        <div class="flex responsive flex-row justify-end gap-1">
                                            <button class="button button-primary shadow-2" data-copy="text" data-text="<%= item.link %>">Copy link</button>
                                            <button class="button button-primary shadow-2 admin_tracking_joins_dashboard" data-id="<%= item.id %>">Dashboard</button>
                                            <button class="button button-danger shadow-2 admin_tracking_links_remove" data-id="<%= item.id %>">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <%- include('../components/emptyTable.ejs', {
                                title: 'No data found'
                            }); %>
                        <% } %>
                    </div>

                    <div class="table-footer">
                        <div class="flex items-center justify-center bg-secondary p-2">
                            <%- include('../components/pageNavigator.ejs', {
                                id: 'pagination_admin_tracking_links',
                                page: response.admin.settings.tracking_links.page,
                                pages: response.admin.settings.tracking_links.pages
                            }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>